/* Fondo oscuro para toda la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor del formulario */
.contenedor {
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para el título */
.titulo {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    margin-bottom: 15px;
    background-color: transparent; /* Fondo transparente */
    border: 1px solid #555; /* Borde claro */
    border-radius: 5px;
    box-sizing: border-box;
}

/* Cambios al hacer focus en los campos */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #e0e0e0; /* Borde más claro en focus */
}

/* Estilo del botón */
.boton {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
}

.boton:hover {
    background-color: #444;
}
