header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.logo {
    flex: 1;
}

.logo img {
    max-height: 50px;
}

nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-links li {
    margin-left: 15px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-right: 500px;
}

.search-container input[type="text"] {
    padding: 10px 40px 10px 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #333;
}

.nav-links a img {
    width: 30px;
    height: 30px;
}

.iconAc {
    margin-right: 20px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/*/////////////////////// Divs del select /////////////////////////////*/

.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
    margin-top: 10px;

}

.producto h3 {
    margin-top: 0;
}

.producto p {
    margin: 10px 0;
}

/*//////////////////////////////////////*/


/* Footer */
.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0056b3; 
}
